.information {
  position: relative;
}
.information-figure-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.information-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 15px;
}

.information-article-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 30px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.information-barra {
  width: 60%;
  height: 5%;
  background-color: #f2f2f2;
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 20px;
  border-radius: 5px;
  color: #333;
  font-size: 18px;
}


.information-article-right {
  margin-top: 15px;
  padding: 15px;
  background-color: white;
}

@media screen and (min-width: 800px) {
  .information {
    display: flex;
    flex-wrap: wrap;
  }

  .information-figure-image {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
  }

  .information-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 15px;
  }

  /* .left {
    display: flex;
    width: 100%;
    justify-content: center;
  } */

  .right {
    display: flex;
    width: 100%;
    justify-content: center;
    }
  .information-article-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    font-size: 1.2em;
    line-height: 1.5;
    z-index: 1;
    mix-blend-mode: overlay;
    margin-left: 30%;
  }
    .information-article-left p {
      color: black;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

  .information-article-right {
    flex: 1 1 100%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #555;
    font-size: 1.2em;
    line-height: 1.5;
    
  }
}

.information-article-right {
  margin-top: 15px;
  padding: 15px;
  background-color: white;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  height: 300px;
  margin-top:20px;
  border-radius: 5px;
}

.card-icon {
  font-size: 60px;
  color: #333;
  margin-bottom: 20px;
}

.card-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}

@media screen and (max-width: 768px) {
  .information-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 800px) {

  .information-card-container {
      grid-template-columns: repeat(1, 1fr);
    }
  .information {
      display: flex;
      flex-wrap: wrap;
    }
  
    .information-figure-image {
      flex: 1 1 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
    }
  
    .information-image {
      width: 100%;
      max-width: 800px;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
      margin-top: 15px;
    }
  
    .information-article-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 800px;
      padding: 20px;
      color: white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
      font-size: 1.2em;
      line-height: 1.5;
      z-index: 1;
      mix-blend-mode: overlay;
    }
  
    .information-article-right {
      flex: 1 1 100%;
      max-width: 800px;
      margin: 20px;
      padding: 20px;
      background-color: white;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      color: #555;
      font-size: 1.2em;
      line-height: 1.5;
    }
}
