.header {
  grid-area: header;
  background-color: #aa2525;
  height: 70px;
  width: 100%;

  padding:20px ;
}

.header-nav-ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  width: 100%;
  
}

.header-nav-ul li {
  width: 100%;
  align-items: center;
  
  
}

.header-nav-ul li a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  text-align: center;
}

