.header {
  grid-area: header;
  background-color: #007363;
  height: 70px;
  width: 100%;

  padding:20px ;
}

.header-nav-ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  width: 100%;
  
}

.header-contact-group{
  display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    width: 150%;
  height: 20px;
}

.header-nav-ul li {
  width: 80%;
  align-items: center;
  
  
}
.logo {
  width: 180px;
  margin-top:-70px;
  margin-left: -25px;
}

.header-nav-ul li a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .header-email {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header-contact-group{
    flex-direction: column;
    gap:8px;
    margin-top: 6px;
  }

 
  
}