.App {
  display: grid;
  grid-template-rows: 70px auto 50px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "information"
    "footer";
  min-height: 100vh;
  
}

.main{
  display: grid;
  padding: 1rem;
  width: 100%;
}

.app-information {
  grid-area: information;
}





